* {
	box-sizing: border-box !important;
	font-family: '微软雅黑';
	font-size: 20px;
	line-height: 1.6rem;
}

body {
	background-color: #EEE !important;
	text-align: center;
}

main#main {
	position: relative;
	margin: auto;
	width: 95vw;
	height: 94vh;
	margin-top: 3vh;
	overflow: hidden;
	visibility: hidden;
}

main#main.show {
	visibility: visible;
}

main#main>#content {
	position: absolute;
	width: 100%;
	height: 100%;
	column-fill: auto;
	text-align: left;
}

@media (min-width: 512px) {
	main#main>#content {
		column-width: 95vw;
	}

	svg, img {
		max-width: 95vw;
		margin: auto;
	}
}

@media (min-width: 992px) {
	main#main>#content {
		column-width: 40vw;
		column-gap: 3vw;
	}

	svg, img {
		max-width: 40vw;
		margin: auto;
	}
}

p {
	margin-top: 0.1rem !important;
	margin-bottom: 0.3rem !important;
}
