body {
	margin: 0;
	padding: 0;
	font-family: 'Arial', 'Microsoft YaHei';
}

#root {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	overflow: hidden;
}

#dragging-wrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#dragging-file {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(200, 255, 255, 0.6);
	outline: 1vh dashed #c8dadf;
	outline-offset: -5vw;
	z-index: 999;
}

.full-size {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: inherit;
}

.hide {
	display: none !important;
}

.title-middle-bar {
	text-align: center;
	margin: 0 auto;
	flex-grow: 2 !important;
	justify-content: center;
}

.item.title-middle-bar::before {
	content: none !important;
	width: 0;
	background-color: transparent;
}

.file-icon {
	fill: #666;
	color: #666;
	vertical-align: middle;
	position: absolute;
	left: 0;
	top: 25vh;
	width: 100% !important;
	height: 50vh !important;
	font-size: 40vh !important;
	line-height: 50vh !important;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

#books-shelf {
	position: relative;
	display: inline-block;
	width: 100vw;
	height: calc(100vh - 48px);
	padding: 0;
	overflow-y: auto;
	margin-top: 48px;
	margin-left: auto;
	margin-right: auto;
}

*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-thumb {
	background: transparent;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*:hover::-webkit-scrollbar-thumb {
	background: #666;
	border-radius: 5px;
}

*:hover::-webkit-scrollbar-track {
	background: #ddd;
}

.book-cover {
	display: block;
	float: left;
	width: calc(100vw - 55px);
	height: 120vw;
	background-color: #EEE;
	border: 1px solid #222;
	box-shadow: 3px 3px 10px 10px #444;
	margin: 20px 25px 50px 25px;
	cursor: pointer;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 470px) {
	#books-shelf {
		padding-left: 2vw;
		padding-right: 2vw;
	}

	.book-cover {
		width: 39vw;
		height: 52vw;
		margin-left: 4vw;
		margin-right: 4vw;
	}
}

@media only screen and (min-width : 760px) {
	#books-shelf {
		padding-left: 1vw;
		padding-right: 1vw;
	}

	.book-cover {
		width: 27vw;
		height: 36vw;
		margin-left: 2.5vw;
		margin-right: 2.5vw;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 1080px) {
	#books-shelf {
		padding-left: 2vw;
		padding-right: 2vw;
	}

	.book-cover {
		width: 18vw;
		height: 24vw;
		margin-left: 2.5vw;
		margin-right: 2.5vw;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1300px) {
	#books-shelf {
		width: 100%;
	}

	.book-cover {
		width: 240px;
		height: 320px;
		margin-left: 40px;
		margin-right: 40px;
	}
}

#book-reader {
	position: relative;
	display: flex;
	width: 100vw;
	height: calc(100vh - 40px);
	padding: 0;
	overflow: hidden;
	margin: 40px 0 0 0;
	text-align: left;

	align-items: flex-start
}

#toc-container {
	display: inline-block;
	flex: 1 3 auto;
	min-width: 220px;
	max-width: 35vw;
	height: 100%;
	overflow: hidden;
	padding: 1px;
	margin: 0;
	background-color: #222;
	border-radius: 0;
	z-index: 999;
}

#toc-menu {
	display: inline-block;
	margin-top: 18px;
	padding-bottom: 20px;
	width: auto;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: calc(100% - 20px);
	width: 100%;
}

.ui.inverted.list a.toc-item.item {
	display: inline-block;
	min-width: 51%;

	&:hover {
		color: #FFECB3;
	}

	& > i.icon, & > .icon+.content {
		vertical-align: middle;
	}
	&.selected > i.icon {
		color: #B2FF59 !important;
	}
	&.selected > .icon+.content {
		color: #B2FF59 !important;
		font-weight: bold;
	}
	&.selected:hover > .icon+.content {
		color: #FFF9C4 !important;
	}
}

.dimmer-base {
	position: absolute;
	width: 100%;
	height: 100%;
}

.waiting-dimmer {
	@extend .dimmer-base;
	cursor: wait;
	background-color: rgba(0, 0, 0, 0.6);
	top: 0;
	left: 0;
	z-index: 999;

	.header {
		color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.reader-dimmer {
	@extend .dimmer-base;
	cursor: pointer;

    animation-name: reader-dimmer-in;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

#frame-book {
	border: none;
	padding: 20px 50px 65px 50px;
}

#book-container {
	$outline-margin: 15px;

	display: inline-block;
	width: 100%;
	height: 100%;
	flex: 1 1 auto;
	overflow: hidden;

	outline: 3px solid #DDD;
	outline-offset: -$outline-margin;

	$page-navigator-margin: $outline-margin + 3;

	.page-navigator {
		position: absolute;
		height: 60vh;
		width: 30px;
		top: calc(50% - 30vh);
		cursor: pointer;

		background-color: transparent;
		border: 1px solid #DDD;
		color: #CCC;

		i {
			display: block;
			margin-top: calc(30vh - 10px);
			margin-left: auto;
			margin-right: auto;
		}

		&.prev-page {
			border-top-left-radius: 8px;
			border-bottom-left-radius: 8px;
			left: $page-navigator-margin;
		}

		&.next-page {
			border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
			right: $page-navigator-margin;
		}

		&:hover {
			background-color: #BBB;
			border-color: #888;
			color: white;
		}
	}

	.page-status {
		position: absolute;
		bottom: $page-navigator-margin;
		left: calc(50% - 180px);
		width: 360px;
		height: 38px;
		text-align: center;
		opacity: 0.6;

		label {
			color: black;
			font-weight: bold;
		}

		&:hover {
			opacity: 1;
		}

		.ui.menu .dropdown.item .menu {
			border-radius: 4px 4px 0 0;
		}
	}

	.progress-bar {
		display: flex;
		position: absolute;
		height: 8px;
		bottom: $page-navigator-margin + 40px;
		left: 50px;
		right: 50px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		justify-content: space-around;
		align-items: stretch;
		overflow: hidden;
		opacity: 0.6;

		&:hover {
			opacity: 1;
		}

		.past {
			background-color: #CCC;
		}

		.current {
			background-color: #444;
		}

		.future {
			background-color: #EEE;
		}

		.item {
			width: 100%;
			flex-grow: 1;

			&:not(.current) {
				cursor: pointer;
				border-top: 1px solid white;

				&:not(:last-child) {
					border-right: 1px solid white;
				}

				&:hover {
					border: 1px dotted #444;
					background-color: yellow;
				}
			}
		}
	}
}

.text-capitalize {
	text-transform: capitalize !important;
}

.text-uppercase {
	text-transform: uppercase !important;
}

.text-lowercase {
	text-transform: lowercase !important;
}

.ui.styled.accordion.inverted, .ui.styled.accordion.inverted .accordion {
	background-color: #181818;
}

.ui.styled.accordion .accordion .title, .ui.styled.accordion .title {
	&.selected {
		color: #B2EBF2;
	}
}

.ui.styled.accordion.inverted .accordion .active.title, .ui.styled.accordion.inverted .active.title {
	color: #EEE;
	&.selected {
		color: #80DEEA;
	}
}

.ui.styled.accordion.inverted .accordion .active.title:hover, .ui.styled.accordion.inverted .accordion .title:hover, .ui.styled.accordion.inverted .active.title, .ui.styled.accordion.inverted .title:hover {
	color: #CCC;
}

.ui.accordion.list > .item {
	padding-left: 1rem;
}

.pushable > .ui.segment {
	padding-top: 0;
}

.ui.styled.accordion .accordion .title.active, .ui.styled.accordion .title.active {
	padding-bottom: 0;
}

.ui.styled.accordion .accordion .content, .ui.styled.accordion .content {
	padding-top: 0.1em;
	padding-bottom: 0.5em;
}

.collapse-toggle {
	position: absolute;
	top: 1px;
	left: 15px;
	&  > * {
		cursor: pointer;
		vertical-align: top;
		margin: 0 5px;
	}
}

.pin-toggle {
	position: absolute;
	top: 1px;
	right: 8px;
	cursor: pointer;
	& > * {
		vertical-align: top;
	}
}

.toc-slide-in {
    animation-name: toc-slide-in;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.toc-slide-out {
    animation-name: toc-slide-out;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.book-with-toc {
    position: relative;
}

.book-full-src {
    position: absolute;
}

@keyframes toc-slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes toc-slide-out {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes reader-dimmer-in {
    0% {
        display: none;
    }
    1% {
        background-color: rgba(0, 0, 0, 0);
        display: block;
    }
    100% {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.settings-menu-group {
	display: inline-block;
	width: 180px;
	vertical-align: top;
	padding-right: 10px;
}

.settings-menu-items {
	display: inline-block;
	width: calc(100% - 180px);
	vertical-align: top;
}

.setting-panel {
	height: 480px;
	overflow-x: hidden;
	overflow-y: auto;
	.rc-slider {
		display: inline-block;
		padding-top: 10px;
		margin-left: 5px;
		&.font-size-slider {
			width: 200px;
		}
		&.spacing-slider {
			width: 100px;
		}
	}
}

.settings-action {
	cursor: pointer;
	margin: 3px 3px 0 9px !important;
}

.color-picker-box {
	display: inline-block;
	padding: 6px 0 6px 8px;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
	cursor: pointer;
	min-width: 64px;
	.color-box {
		display: inline-block;
		width: 36px;
		height: 20px;
		border-radius: 3px;
		vertical-align: middle;
	}
	.caret {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 5px;
	}
}

.color-picker-popup {
	width: 400px;
	height: 300px;

	.panel {
		position: relative;
		width: 100%;
		height: 100%;

		.switch-button {
			position: absolute;
			display: inline-block;
			padding: 5px;
			bottom: 1px;
			left: 0;
		}
	}

	.material {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: flex-start;

		.column {
			width: 100%;
			flex-grow: 1;
			flex-shrink: 1;
		}

		.item {
			width: 100%;
			height: 21.43px;
			cursor: pointer;
			border: none;
			.icon {
				display: none;
			}

			&.selected {
				border-width: 1px;
				border-style: solid;
				.icon {
					display: block;
					margin: 1px auto;
				}
			}

			&.special {
				position: absolute;
				bottom: 64px;
				width: 32px;
				border: 1px solid gray;

				&.white {
					left: 0;
					background-color: white;
					color: black;
				}
				&.black {
					left: 31px;
					background-color: black;
					color: white;
				}
			}
		}
	}

	.free {
		display: block;

		.pane {
			position: relative;
			width: 100%;
			&.saturation {
				height: calc(100% - 30px);
			}
			&.hue {
				height: 30px;
			}

			.hue-wrap {
				position: relative;
				display: inline-block;
				width: calc(100% - 40px);
				height: 10px;
				margin: 12px 0 5px 35px;
				vertical-align: middle;
			}
		}
	}
}

.full-wrap {
	width: 100%;
	height: 100%;
}
