#root {
	position: absolute;
	width: 100vw;
	height: 100vh;
}

#main {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 40px;
	padding: 10px;
}

#frm-book {
	position: absolute;
	width: 100%;
	height: 100%;
	border: none;
	padding: 5px 20px 30px 20px;
}

#menu-toc {
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 100%;
    height: auto;
}

#dimmer {
	display: none;
}

#dimmer.active {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4)
}

footer {
	position: absolute;
	background-color: #EEE;
	border-top: 1px solid #CCC;
	bottom: 0;
	width: 100%;
	height: 25px;
	padding: 0 8px;
	vertical-align: middle;
	line-height: 24px;
	font-size: 13px;
}

.page-nav-button {
	position: absolute;
	width: 40px;
	top: 0;
	bottom: 0;
	color: rgba(0,0,0,0.2);
	background-color: rgba(255,255,255,0.1);
}

.page-nav-button>i {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.page-nav-button:hover {
	color: white;
	background-color: rgba(0,0,0,0.4);
}

.page-nav-button.left {
	left: 0;
}

.page-nav-button.right {
	right: 0;
}

.ui.styled.accordion.inverted, .ui.styled.accordion.inverted .accordion {
	background-color: #181818;
}

.ui.styled.accordion.inverted .accordion .active.title, .ui.styled.accordion.inverted .active.title {
	color: #EEE;
}

.ui.styled.accordion.inverted .accordion .active.title, .ui.styled.accordion.inverted .accordion .title:hover, .ui.styled.accordion.inverted .active.title, .ui.styled.accordion.inverted .title:hover {
	color: #CCC;
}

.ui.accordion.list > .item {
	padding-left: 1rem;
}

.pushable > .ui.segment {
	padding-top: 0;
}

.ui.styled.accordion .accordion .title.active, .ui.styled.accordion .title.active {
	padding-bottom: 0;
}

.ui.styled.accordion .accordion .content, .ui.styled.accordion .content {
	padding-top: 0.1em;
	padding-bottom: 0.5em;
}