*, *:before, *:after
  box-sizing border-box

body
  margin 0
  width 100vw
  height 100vh
  overflow auto

horizontal-center()
  position absolute
  left 50%
  transform translateX(-50%)

vertical-center()
  position absolute
  top 50%
  transform translateY(-50%)

*
  scrollbar-width thin
  scrollbar-color #444 #CCC

  &::-webkit-scrollbar
    width 10px

  &::-webkit-scrollbar-track
    background #CCC

  &::-webkit-scrollbar-thumb
    background-color #444
    border-radius 6px
    border 1px solid #888

#root
  position relative
  display flex
  width 100%
  height 100%

.flex
  display flex
  &.row
    flex-direction row
  &.column
    flex-direction column

.flex-auto
  flex 1

.hide
  display none

.app-bar
  width auto !important
  .title
    max-width calc(95vw - 90px)
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

.reader
  position relative
  display flex
  padding 0
  margin 0
  flex 1

#reader
  border none
  margin 8px 15px 16px 15px
  padding 0
  flex 1

.reader-wrap
  display flex
  position relative
  overflow hidden

.page-indicator
  horizontal-center()
  width 62%
  height 10px
  bottom 4px
  color white
  border-radius 20px
  display flex
  flex-direction column
  justify-content space-evenly

  .label
    align-self center
    display none

  .scroll-bar
    position relative
    margin 0 20px
    height 10px
    align-self stretch
    border-radius 6px
    overflow hidden
    display flex
    flex-direction row
    align-content stretch
    border 0.5px dotted black
    .scroll-thumb
      background-color #222
      flex 1
    .scroll-block
      cursor pointer
      background-color #ddd
      flex 1
      &:hover
        border 0.5px dotted #eee

  &:hover
    background-color rgba(0, 0, 0, 0.9)
    height 42px
    .label
      opacity 1
      display block
    .scroll-block
      border none
      background-color #777
    .scroll-thumb
      background-color #eee

ul.toc
  z-index 1
  margin 3px 0
  padding 0 15px 0 5px
  height calc(100% - 5px)
  max-width 40%
  overflow-x hidden
  overflow-y auto
  background-color #eee
  font-size 11pt

  li
    list-style none
    cursor default
    color #222
    span
      display inline-flex
      align-content center
      align-items center
      white-space nowrap
    .title
      margin 0 6px
      &.selected
        color green
    .count
      font-size 80%
      color blue
      &::before
        content: '['
      &::after
        content: ']'
    .link
      cursor pointer
      &:hover
        color deepskyblue !important

    &.selected > .item .link
      color green;

  ul
    padding-left 24px

-caret-offset = 3px
-caret-size = 120px
-caret-width = 12px
-caret-color = rgba(0, 0, 0, 0.7)

.arrow-icon-button
  vertical-center()
  height 66%
  width 20px
  opacity 0
  cursor pointer

  .caret
    vertical-center()
    border-top -caret-size solid transparent
    border-bottom -caret-size solid transparent
    width 0
    height 0

  &.direction-prev
    left 0
    .caret
      left -caret-offset
      border-right -caret-width solid -caret-color
  &.direction-next
    right 0
    .caret
      right -caret-offset
      border-left -caret-width solid -caret-color

  &:hover
    opacity 1

.settings-modal
  display flex
  align-items center
  justify-content center
  .settings-box
    width 800px

  .tab-panel
    padding 12px 2px 2px 2px
    & > *
      margin 6px 0
    .code textarea
      font-family 'Courier New', Courier, monospace
