*, *:before, *:after
  box-sizing border-box

body
  position absolute
  margin 0
  padding 0
  top 0
  right 0
  bottom 0
  left 0
  overflow auto
  background-color beige

  scrollbar-width thin
  scrollbar-color #444 #CCC

  &::-webkit-scrollbar
    width 10px

  &::-webkit-scrollbar-track
    background #CCC

  &::-webkit-scrollbar-thumb
    background-color #444
    border-radius 6px
    border 1px solid #888
